*{
  box-sizing: border-box;
}
body {
    /* background-color: #12113d; */
    background-color: black;
    
  }
div#container::before{
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  background: url('bgpic.jpg') no-repeat center center/cover;
  top: 0;
  left: 0;
  z-index:-1;
  opacity: 0.3;
}
  #section-1 {
    /* background-color: #7A86B6; */
    margin-top: 50px;
  }
  
  .mynav{
    font-family: 'Ubuntu', sans-serif;
    height: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .container-fluid {
    margin-bottom: 10px;
  }
 /* content box */
  #container{
     display: grid;
     /* border:2px solid red; */
     grid-template-columns: repeat(auto-fit , minmax(500px , 1fr));
     column-gap: 2rem;
     margin-right: 2.5rem;
     /* height: 100rem; */
  }
  /* left hand side div */
  div.songpicture{
     grid-area: first;
     /* border: 5px solid yellow; */
     /* background-color: purple; */
     display: flex;
     justify-content: center;
     align-items: center;
  }
  div.audio{
    grid-area: second;
    /* border: 5px solid green; */
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: transparent;
  }
  div>audio{
    width: 80%;
  }
  .songpic {
      width: 70%;
      height: 70%;
      margin: 3rem;
      border-radius: 8rem;
      object-fit: contain;
  }
  /* right hand side div */
  .songlist {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    padding: 1.5% 1.5% -0.5% 5%;
    background-color: transparent;
    text-align: center;
    height: 35rem;
    overflow-y: scroll;
  }
  .list-group-item {
    background-color: transparent;
    color: white;
  }
  div#right{
    padding-right: 3rem;
    /* display: grid;
    grid-template-rows: 1fr 0.1fr 10fr; */
  }
  h1 {
    font-size: 1rem;
  }
  hr.line {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -6px rgba(255, 255, 255, 0.5);
  }
  hr.line2 {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgb(4, 4, 4), rgb(255, 255, 255), rgb(0, 0, 0));
  }
  
  /* Design For ScrollBar */
  ::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 0.3rem gray;
    border-radius: 1rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(239, 238, 238, 0.74);
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  /* for PlayList Text Above Ul */
  .PlaylistText{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 5px;
  }
  
  /*For Image inside List in front of song */
  .imgdiv > img {
    height: 60px;
  }
  .listSong {
    border-bottom: 2px solid white;
  }
  /* Name of Song*/
  .namediv {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.3rem;
    text-overflow: ellipsis;
    font-family: 'Ubuntu Mono', monospace;
    white-space: nowrap;
    overflow:hidden;
  }
  a.song {
    text-decoration: none;
  }
  @media screen  and (max-width: 981px){
      .mynav{
        font-family: 'Ubuntu', sans-serif;
        height: 4.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      .songpic {
        width: 57%;
    }
    div#right{
      width: 100%;
      padding: 0;
      padding-left: 3rem;
    }
    .PlaylistText{
      font-size: 3rem;
      margin-top: 2rem;
    }
    .namediv{
      font-size: 2rem;
    }
    div#container::before{
      background: url('bgpic2.jpg') no-repeat center center/cover;
    }
    #sec{
            height: 90vh;
    }
    #container{
      justify-content: space-between;
      height: 95%;
    }
  }
